﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/9355de54c5.js"></script>
    <link href="https://use.fontawesome.com/9355de54c5.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
@{
    var id = Session["userID"];
}

<body onload="startTime()">
    <style>
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
            text-align: center;
            vertical-align: top;
        }

        .navbar .navbar-collapse {
            text-align: center;
        }
    </style>
    <div class="navbar navbar-default navbar-fixed-top text-center" style="background-color:#7e0d0d; ">
        <div class="container">

            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href='@Url.Action("Index", "Movies")'><div class="fa fa-home " style="color:white;"> <span class="font-nav" style="color:white;"> Home</span></div></a>
                    </li>
                    <li class="nav-item">
                        <a href='@Url.Action("Index", "Movies")'><div class="fa fa-film " style="color:white;"> <span class="font-nav" style="color:white;"> Movies</span></div></a>
                    </li>
                    <li class="nav-item">
                        <a href='@Url.Action("Index", "TimeSchedules")' style="border-right-style: solid; border-width: 0.5px; border-right-color:white;"><div class="fa fa-clock-o " style="color:white; "> <span class="font-nav" style="color:white;"> Time Schedules</span></div></a>
                    </li>
                    @{
                        if (Session["userID"] != null)
                        {
                            <li class="nav-item">
                                <a href="/Users/Details/@id">
                                    <div class="fa  fa-user" style="color:white;">
                                        <span class="font-nav" style="color:white;"> @Session["username"].ToString()</span>
                                    </div>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href='@Url.Action("Index", "Users")'><div class="fa  fa-sign-in" style="color:white;"> <span class="font-nav" style="color:white;"> Sing In</span></div></a>
                            </li>
                        }
                    }
                    @{

                        if (Session["userID"] != null)
                        {
                    <li class="nav-item">
                        <a href='@Url.Action("LogOut", "Users")'><div class="fa  fa-sign-out" style="color:white;"> <span class="font-nav" style="color:white;"> Sing Out</span></div></a>
                    </li>
                        }
                    }
                </ul>

            </div>
        </div>
    </div>


    <div id="TimeNow"></div>
    @DateTime.Now.ToString(@"dd/MM/yyyy")
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('TimeNow').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
</script>