﻿@model MovieReservation.Models.Seat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_Seat.TypeSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_Seat.TypeSeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
