﻿@model IEnumerable<MovieReservation.Models.Seat>

@{
    ViewBag.Title = "Index";

}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
<div class="col-md">
    <h1>@ViewBag.Movie.Movie_Name</h1>
    <h5>@ViewBag.TimeSchedule.Time</h5>
    <h6>@ViewBag.Movie.Synopsis</h6>
</div>
<hr>
    <div class="row">
        <div class="p-3 mb-2 bg-primary text-white text-center" style="padding: 10px;">
            Screen
        </div>
        <div class="p-3 mb-2 text-white text-center">
                <div id="seats">
                    @{
                        var check = false;
                        var br = 0;
                    }
                    
                    @foreach (var item in Model)
                    {

                        if (br == 10)
                        {
                            br = 0;
                            <br>
                        }
                        if (item.Tickets.Count > 0)
                        {
                            foreach (var item2 in item.Tickets)
                            {
                                if (ViewBag.TimeSchedule.Schedule_Id == item2.TimeScheduleSchedule_Id)
                                {
                                    <img width="40px" height="35px" src="~/Images/user.png">
                                    check = true;
                                }
                            }
                        }
                        if (!check)
                        {
                            if (item.Type_SeatTypeSeat_Id == 1)
                            {
                            <img width="45px" height="40px" src="~/Images/Chair.jpg"
                                 id="@item.Seat_Id" class="btn btn-outline-primary" onclick="seatSelected(@item.Seat_Id)" value="select">
                            }
                            else
                            {
                                <img width="45px" height="40px" src="~/Images/ChairP.jpg"
                                     id="@item.Seat_Id" class="btn btn-outline-primary" onclick="seatPSelected(@item.Seat_Id)" value="select">
                            }
                        }
                        else
                        {
                            check = false;
                        }
                        br++;
                    }
                </div>
        </div>
    </div>
<div class="text-right">
    <button type="button" class="btn btn-outline-primary btn-lg" onclick="submit()">Submit</button>
</div>

    <script type="text/javascript">
        var itemArray = new Array();
        var cuser = @Session["userID"];
        var Schedule_Id = @ViewBag.TimeSchedule.Schedule_Id;
        
        function seatSelected(id) {
            var select = document.getElementById(id);
            console.log(select);
            if (select.value == "selected") {
                itemArray.pop(id);
                select.src = '../Images/Chair.jpg';
                return select.value = "select";
            }
            else
            {
                itemArray.push(id);
                select.src = '../Images/Selected.png';
                return select.value = "selected";
            }
        }
        function seatPSelected(id) {
            var select = document.getElementById(id);
            if (select.value == "selected") {
                itemArray.pop(id);
                select.src = '../Images/ChairP.jpg';
                return select.value = "select";
            }
            else {
                itemArray.push(id);
                select.src = '../Images/Selected.png';
                return select.value = "selected";
            }
        }

        function submit() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Tickets/Confirm",
                data: {
                    values: itemArray,
                    cuser: cuser,
                    time: Schedule_Id
                },
                success: function () {
                    window.location.href = "/Tickets/";
                }
            });
        }
    </script>
