@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url("https://www.img.in.th/images/ec5ddf361ffab5cda3a614ae7e3be540.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .photo-right {
        width: 0;
        height: 0;
        border-bottom: 759px solid white;
        border-left: 200px solid transparent;
        position: absolute;
        right: 0px;
        z-index: -30;
    }
    .photo-left {
        width: 0;
        height: 0;
        border-top: 100px solid white;
        border-right: 200px solid transparent;
        position: absolute;
        left: 0px;
        z-index: -30;
    }
    .photo-left-button {
        width: 0;
        height: 0;
        border-bottom: 759px solid white;
        border-right: 80px solid transparent;
        position: absolute;
        left: 0px;
        z-index: -30;
    }
    .login {
        z-index: 5555555;
        text-align: center;
    }
    .btn-info-2 {
        
        color: #fff;
        background-color: #a39c8f;
        border-color: #0f0f0f;
    }
    .btn-info-2:hover{
        cursor:pointer;
    }
</style>
<div class="photo-left-button"></div>
<div class="photo-left"></div>
<div class="photo-right">

    <div class="login">
        <a href="../Movies/Index" class="btn btn-info-2"><h1 style="color:black">Visit website</h1></a>
    </div>

</div>