﻿@model IEnumerable<MovieReservation.Models.Movie>

@{
    ViewBag.Title = "Index";
    int counter = 1;

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Users/Index");
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
        @foreach (var item in Model)
        {   
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href='@Url.Action("Details", new { id = item.Movie_Id })'>
                                <img src="@Html.DisplayFor(modelItem => item.Movie_Photo)" style="width:100%, height: auto;" />
                                <div class="caption">
                                    <p>@Html.DisplayFor(modelItem => item.Movie_Name)</p>
                                </div>
                            </a>
                        </div>
                    </div>
         }
    </div>

<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synopsis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie_Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Synopsis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release_date)
        </td>
        <td>
         <img src="@Html.DisplayFor(modelItem => item.Movie_Photo)" />  
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Movie_Id }) |
            @Html.ActionLink(" ", "Details", new { id=item.Movie_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Movie_Id })


            <a href='@Url.Action("Details",new { id=item.Movie_Id })'>
             <img src="@Html.DisplayFor(modelItem => item.Movie_Photo)" /> 
            </a>
        </td>
    </tr>
}

</table>

    -->