﻿@model MovieReservation.Models.TimeSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Movie_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Movie_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Schedule_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
