﻿@model IEnumerable<MovieReservation.Models.TimeSchedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Movie_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Movie_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Schedule_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Schedule_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Schedule_Id })
        </td>
    </tr>
}

</table>
