@model MovieReservation.Models.User

@{
    ViewBag.Title = "Details";
    var photo = Model.Picture;

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Users/Index");
    }
}


<style>
    .container {
        width: 1170px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .photo {
        padding: 30px 30px;
    }

    .avatar {
        margin-bottom: 15px;
        width: 100px;
        height: 200px;
        border-radius: 5px;
    }

    .account-menu {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .account-name {
        margin-bottom: 25px;
    }

    .account-box .account-box-header {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .05em;
        background-color: #fff;
        border-bottom: 1px solid #c6c7c7;
        background-color: #7e0d0d;
        color: white;
    }

    .booking-item.no-booking {
        padding-bottom: 40px;

    }

    .account-box, .page-account .account-sidebar {
        border: 1px solid #c6c7c7;
    }

    .divided {
        color: #989898;
        font-weight: 600;
        text-align: center;
        margin: 10px 0;
        border-top: 1px solid #c6c7c7;
    }
    th {
        
    }
</style>


<div class="container">

    <div class="row">

        <!-- box name -->
        <div class="col-sm-3">
            <div class="photo">
                <div class="avatar">
                    @{
                        if (@photo == "1")
                        {
                            <img src="~/Images/user.png" style="width: 200px; height: 230px;" />
                        }
                        else
                        {
                            <img src="~/Images/@photo" style="width: 200px; height: 230px;" />
                        }

                    }
                   
                </div>
            </div>
            <div class="divided"></div>
            <ul class="account-menu">
                <li>@Html.ActionLink("MY BOOKING", "Details", new { id = Model.Id })</li>
                <li>@Html.ActionLink("EDIT PROFILE", "Edit", new { id = Model.Id })</li>
            </ul>
            <div class="divided"></div>
        </div>

        <!-- box detail -->
        <div class="col-sm-9" style="width:75%;">
            <div class="account-name">
                <div class="info-wrapper">
                    <h1><span class="text">HELLO, </span><span class="name">@Html.DisplayFor(model => Model.Username)</span></h1>
                </div>
            </div>
            <!-- กล่องการจอง -->
            <div class="account-box my-booking pagi-anchor">
                <div class="account-box-header">
                    My Booking
                </div>
                <div class="account-box-body booking-list">
                    <div class="booking-item no-booking">

                        @foreach (var item in Model.Tickets)
                        {

                            if (item.TimeSchedule.Time > DateTime.Now)
                            {
                                <h2>You have no upcoming reservations.</h2>
                            }
                            else
                            {
                                <table class="w3-table-all">
                                    <thead>
                                        <tr>
                                            <th>Name Movie</th>
                                            <th>Schedule</th>
                                            <th>Room</th>
                                            <th>Seat</th>
                                            <th>Status</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr class="w3-hover-">
                                            <td>@Html.DisplayFor(model => item.TimeSchedule.Movie.Movie_Name)</td>
                                            <td>@Html.DisplayFor(model => item.TimeSchedule.Time)</td>
                                            <td>@Html.DisplayFor(model => item.TimeSchedule.Room)</td>
                                            <td>@Html.DisplayFor(model => item.Seat)</td>
                                            <td>@Html.DisplayFor(model => item.Status)</td>
                                        </tr>

                                    </tbody>
                                </table>
                            }
                        }                               
                    </div>
                </div>
            </div>

        </div>

        <!-- กล่องประวัติการดูหนัง -->
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9" style="width:75%;">
            <div class="account-name">
                <div class="info-wrapper">

                </div>
            </div>

            <div class="account-box my-booking pagi-anchor">
                <div class="account-box-header">
                    My Booking History
                </div>
                <div class="account-box-body booking-list">
                    <div class="booking-item no-booking">

                        @foreach (var item in Model.Tickets)
                        {
                                <table class="w3-table-all">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Name Movies</th>
                                            <th>Schdule</th>
                                            <th>Seat</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr class="w3-hover-">
                                            <td>@Html.DisplayFor(model => item.DateTime)</td>
                                            <td>@Html.DisplayFor(model => item.TimeSchedule.Movie.Movie_Name)</td>
                                            <td>@Html.DisplayFor(model => item.TimeSchedule.Time)</td>
                                            <td>@Html.DisplayFor(model => item.Seat)</td>
                                        </tr>
                                    </tbody>
                                </table>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

