@model MovieReservation.Models.User

@{
    ViewBag.Title = "Edit";

   
        var photo = Model.Picture;
 

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Users/Index");
    }
}
<style>
    .container {
        width: 1170px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .photo {
        padding: 30px 30px;
    }

    .avatar {
        margin-bottom: 15px;
        width: 100px;
        height: 200px;
        border-radius: 5px;
    }

    .account-menu {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .account-name {
        margin-bottom: 25px;
    }

    .account-box .account-box-header {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .05em;
        background-color: #fff;
        border-bottom: 1px solid #c6c7c7;
        background-color: #7e0d0d;
        color: white;
    }

    .booking-item.no-booking {
        padding-bottom: 40px;
    }

    .account-box, .page-account .account-sidebar {
        border: 1px solid #c6c7c7;
    }

    .divided {
        color: #989898;
        font-weight: 600;
        text-align: center;
        margin: 10px 0;
        border-top: 1px solid #c6c7c7;
    }
    .submit {
        background-color: #7e0d0d;
        color:white;
    }
</style>
<div class="container">

    <div class="row">

        <!-- box name -->
        <div class="col-sm-3">
            <div class="photo">
                <div class="avatar">
                    @{
                        if (@photo == "1")
                        {
                            <img src="~/Images/user.png" style="width: 200px; height: 230px;" />
                        }
                        else
                        {
                            <img src="~/Images/@photo" style="width: 200px; height: 230px;" />
                        }

                    }

                </div>
            </div>
            <div class="divided"></div>
            <ul class="account-menu">
                <li>@Html.ActionLink("MY BOOKING", "Details", new { id = Model.Id })</li>
                <li>@Html.ActionLink("EDIT PROFILE", "Edit", new { id = Model.Id })</li>
            </ul>
            <div class="divided"></div>
        </div>

        <!-- box detail -->
        <div class="col-sm-9" style="width:75%;">
            <div class="account-name">
                <div class="info-wrapper">
                    <h1><span class="text">HELLO, </span><span class="name">@Html.DisplayFor(model => Model.Username)</span></h1>
                </div>
            </div>

            <div class="account-box my-booking pagi-anchor">
                <div class="account-box-header">
                    My Booking
                </div>
                <br />
                <div class="account-box-body booking-list">
                    <div class="booking-item no-booking">
                        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">


                                <div class="form-group">
                                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { type = "file" } })
                                        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="submit form-control" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

