@model MovieReservation.Models.User

@{
    ViewBag.Title = "Index";

}


<style>
    .container-login {
        top: 10%;
        margin: auto;
        padding: 48px;
        width: 480px;
        position: relative;
        text-align: center;
        border: 1px solid #c6c7c7;
    }

    .image {
        margin: auto;
    }

    .submit {
        margin: 18px 0px 12px 0px;
        height: 32px;
        width: 100%;
        color: #FFF;
        background-color: #7e0d0d;
    }



    .divided {
        color: #989898;
        font-weight: 600;
        text-align: center;
        margin: 10px 0;
        border-top: 1px solid #c6c7c7;
    }

    .form-control {
        display: initial !important;
    }
</style>
<br />
<br />
@using (Html.BeginForm("Login_from", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container-login">


        <div class="row">
            <h2> SING IN </h2>
        </div>
        <div class="divided"></div>
        <br />
        <div class="form-group">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control formfieldlogin ", placeholder = "Username" } })

        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control formfieldlogin ", placeholder = "Password", type = "password" } })
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-default submit"> SUBMIT </button>
        </div>


        <div class="divided"></div>
        <div class="form-group text-center">
            <a class="btn btn-default submit" href='@Url.Action("Create")'>REGISTER</a>
        </div>


    </div>
}
