﻿@model MovieReservation.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSchedule.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSchedule.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ticket_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
