﻿@model IEnumerable<MovieReservation.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSchedule.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seat.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSchedule.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seat.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ticket_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ticket_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ticket_Id })
        </td>
    </tr>
}

</table>
